processed
processed_old
#probas
probasfung
probas_
probas_rdata
res/patentlevel_origs.RData
res/full-overlaps.RData

.ipynb_checkpoints
test

pickled
__pycache__

gml

# particular proba files
probaswindow
probas.zip

probas_count
probas_count_
probascounts.zip

